[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#destination div {
  background-color: #00b2d6;
}

#destination h1 {
  color: white;
  font-size: 50px;
  vertical-align: middle;
}

.icon-arrow-right {
  font-size: 30px;

}

.travellers {
  color: #FFF;
  margin-bottom: 10px;
  font-size: 16px;
}

.text-white { color: #FFF; }

.pull-right {
  text-align: right !important;
}

.navbar-margin-bottom-0 {
  margin-bottom: 0px;
}

.top5 { margin-top:10px; }
.top10 { margin-top:10px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }

right5 {margin-right:5px;}
right10 {margin-right:10px;}

.left5 {margin-left:5px;}
.left10 {margin-left:10px;}

.customLink, .customLink:hover{
  color: #00b2d6;
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  vertical-align: middle;
}

.flights {
  background-color: #f2f1f4; 
  padding-top: 10px;
}

.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.img-size-25{
  width:25px;
}

.arrow-right-flights {
  font-size: 16px;
}
div.fight-item div h4 {
  vertical-align: top;    
  display: table-cell;
  padding-bottom:5px;
}
.fight-item {
  background-color: white; 
  padding: 10px 0px 10px;
}

.flight-back {
  padding-top: 15px;
}

.fight-duration-time {
  vertical-align: top;    
  font-size: 14px;
  color: gray;
  padding-bottom:5px;
}

.fight-stops{
  font-size: 14px;
  color: #0bd97b;
  font-weight: 600;
}
.price{
  font-size: 30px;
}

.company {
  color: gray;
}

.btn-round{
  border-radius: 17px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #00cb6f;
  border:0px;
}

.fa-pound-sign{
  -webkit-text-stroke: 1px white;
}


/**
* Not found page CSS
*/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('/img/bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
          box-shadow: 0px 4px 15px -5px #0046d5;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 142px;
    }
    .notfound .notfound-404 h1 {
      font-size: 112px;
    }
}