.customLink, .customLink:hover .customLink:active {
    color: #00b2d6 !important;
    text-decoration: none !important;
    font-size: 15px !important;
    font-weight: bold !important;
    vertical-align: middle !important;
  }